<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Football</title>
    {% load static %}
    <script src="{% static 'js/update_stats.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Ensure this loads before custom JS -->

    {% block head %}
    
    {% endblock %}
</head>
<body>
    <div class="header-box" id="id_header_div">
        <div class="centered" id="id_site_name">
            <a href="/homepage">TOTAL FOOTBALL</a>
        </div>
        <div class="bottom" id="id_nav_profile">
            <a href="{% url 'profile' user.id %}">{{ user.first_name }} {{ user.last_name }}</a>
        </div>
        <div class="bottom" id="id_nav_global_stream">
            <a href="/select-lineup">Select Lineup</a>
        </div>
        <div class="bottom" id="id_nav_follower_stream">
            <a href="/create-league">Create League</a>
        </div>
        <div class="bottom" id="id_nav_follower_stream">
            <a href="/join-league">Join League</a>
        </div>
        <div class="bottom dropdown" id="id_nav_view_leagues">
            <span>View Leagues ▼</span>
            <div class="dropdown-content">
                {% for league in user.leagues.all %}
                    <a href="{% url 'league_details' league.id %}">{{ league.name }}</a>
                {% empty %}
                    <p>No leagues joined.</p>
                {% endfor %}
            </div>
        </div>
        <div class="bottom" id="id_nav_logout">
            <a href="/logout">Logout</a>
        </div>
    </div>
    
    {% block content %}

    {% endblock %}

    {% block extra_scripts %}
    {% endblock %}
</body>
</html>
