{% extends "base.html" %}

{% block head %}
        <link rel="stylesheet" href="../static/header.css">
        <link rel="stylesheet" href="../static/profile.css">
{% endblock %}
    
{% block content %}
        <div class="center-container">
            <div class="loginform">
                {% if other %}
                    <div id="id_page_name">{{ otherUser.first_name }} {{ otherUser.last_name}} Profile</div>
                    {% if not otherUser.profile.picture %}
                        <img id="id_user_picture" src="../static/Jacquees.jpeg" alt="Profile Picture">
                    {% else %}
                        <img id="id_user_picture" src="{% url 'photo' otherUser.id %}" alt="Profile Picture">
                    {% endif %}
                    <div id="id_user_bio">
                        {{ otherUser.profile.bio }}
                    </div>
                    {% if not following %}
                        <form method="POST" action="{% url 'follow_user' user_id=otherUser.id %}">
                            {% csrf_token %}
                            <button type="submit" id="id_follow">Follow</button>
                        </form>
                    {% else %}
                        <form method="POST" action="{% url 'unfollow_user' user_id=otherUser.id %}">
                            {% csrf_token %}
                            <button type="submit" id="id_unfollow">Unfollow</button>
                        </form>
                    {% endif %}
                {% else %}
                    <div id="id_page_name">{{ request.user.first_name }} {{request.user.last_name}} Profile</div>
                    {% if not request.user.profile_image %}
                        <img width="200px" id="id_user_picture" src="../static/Default.jpeg" alt="Profile Picture">
                    {% else %}
                        <img id="id_user_picture" src="{% url 'photo' request.user.id %}" alt="Profile Picture">
                    {% endif %}
                    <form action="{% url 'profile' request.user.id%}" method="POST" enctype="multipart/form-data" >
                        <table>
                            {{form}}
                        </table>
                        {% csrf_token %}
                        <button id="id_update_profile_button">Submit</button>
                    </form>
                {% endif %}
            </div>
        </div>
{% endblock %}