<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CSS Examples</title>
        <link rel="stylesheet" href="../static/login.css">
    </head>

    <body>
        <h1 class="bold">Total Football</h1>
        <div class="loginform">
            <div id="id_page_name">Register</div>
            <div class="account-text">
                <span>ALREADY HAVE AN ACCOUNT?</span>
                <a href="{% url 'login' %}">SIGN IN</a>
            </div>
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                
                {{ form.as_p }}
                
                {% for error in form.non_field_errors %}
                    <p class="error">
                        <ul class="errorlist">
                            {{ error }}
                        </ul>
                    </p>
                {% endfor %}
                
                <div class="submit-button-container">
                    <button type="submit" class="submitbutton" id="id_submit_button">SUBMIT</button>
                </div>
            </form>
        </div>
    </body>
</html>