{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="../static/Players.css">
    <link rel="stylesheet" href="../static/header.css">
{% endblock %}
    
{% block content %}


    <h1>Select Your Starting Lineup and Captain</h1>
    
    <!-- This is where the React app will be rendered -->
    <div id="root"></div>
    <script src="{% static 'js/App.bundle.js' %}"></script>

    <!-- Load React and the App bundle -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js"></script>
    <script type="module" src="/static/js/App.js"></script>

{% endblock %}
