<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CSS Examples</title>
        <link rel="stylesheet" href="../static/login.css">
    </head>
    <body>
        <h1 class="bold">Welcome to Total Football!</h1>
        <div class="loginform">
            <div id="id_page_name">Login</div>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="button-container">
                    <button type="button" id="id_register_button">REGISTER</button>
                    <button type="submit" id="id_login_button">LOGIN</button>
                </div>
            </form>
        </div>
        <script>
            document.getElementById("id_register_button").addEventListener("click", function() {
                window.location.href = "{% url 'register' %}"; // Redirects to the registration page
            });
        </script>
    </body>
</html>